<app-student-menu>
<!-- Muestra la lista de tareas creadas-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="general">
    <div class="Cabecera">
        <h1 class="center">Tareas creadas</h1>
    </div>
    <!-- button que muestra las tareas-->
    
    <div class="ListBox">
        <h2>Selecciona un proyecto:</h2>
        <p-listbox [options]="proyects" [(ngModel)]="selectedProyect" optionLabel="title" [style]="{'width':'15rem'}"></p-listbox>
    </div>


    <div class="button">
        
        <button  (click)="fillTasks()" mat-raised-button color="primary">Mostrar Tareas</button>
    </div>
       
    <div class="paginator">
       
        <div class="inputTareas">
        <label># Tareas por pagina:</label>
        <br>
        <input id="float-input" type="text" pInputText [(ngModel)]="items">
        </div>
        <div class="inputActual">
        <label>Pagina actual:</label>
        <br>
        <input id="float-input" type="text" pInputText [(ngModel)]="pageActual">
        </div>
        <!--recorre las tareas creados-->
        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
        <div *ngFor= 'let task of tasks | paginate: { itemsPerPage: items, currentPage: pageActual}'>
            <app-task [task]="task"></app-task>
        </div>
    </div>
    
</div>
</app-student-menu>

