.tasks {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  border:#3D60B6 5px solid;
  text-align: center;
}

.target-task{
  width: 98%;
  padding: 0 1rem;
  margin: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
  
 