<!-- Formulario para crear proyectos-->
<app-student-menu>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="general">
        <div class="Cabecera">
            <h1 class="center">Edita tu proyecto</h1>
        </div>
        <br>  
    
        <div class="infoProyect">
            <!--input del id del proyecto-->
            <div class="input-titulo-proyecto">
                <span class="p-float-label">
                    <input id="float-input" type="text" pInputText [(ngModel)]="currentProyect.title">
                    <label for="float-input">Titulo del proyecto</label>
                </span>
            </div>
        </div>    
       
    
      <div>  
        <!-- Ingresar objetivos del proyecto-->
        <h2>Objetivos:</h2>
        <div class="editor">
            <p-editor [(ngModel)]="currentProyect.objects" [style]="{'height':'200px'}"></p-editor>
        </div>
        <!-- Ingresar marco teorico del proyecto-->
        <h2>Marco teórico:</h2>
        <div class="editor">
            <p-editor [(ngModel)]="currentProyect.teorico" [style]="{'height':'200px'}"></p-editor>
        </div>    
        <!-- Ingresar marco metodologico del proyecto-->
        <h2>Marco metodológico:</h2>
        <div class="editor">
            <p-editor [(ngModel)]="currentProyect.metodologia" [style]="{'height':'200px'}"></p-editor>
        </div>
        <!-- Ingresar referencias del proyecto-->
        <h2>Referencias:</h2>
        <div class="editor">
        <p-editor [(ngModel)]="currentProyect.references" [style]="{'height':'200px'}"></p-editor>
        </div>
        </div>
    
    
        <div class="buttons">
        <!--button atras-->
        <button mat-raised-button color="primary" [routerLink]="['/perfilEstudiante']" (click)="editar()" [style]="{'margin':'10px'}">Guardar</button>
        <button mat-raised-button color="primary" [routerLink]="['/perfilEstudiante']" [style]="{'margin':'10px'}">Atras</button>
        <!--button que llama a la funcion registrar() para registrar proyecto-->
        </div>
    </div>
        
    </app-student-menu>
    
