<!-- Muestra el compromiso
    -parameter compromiseStatus: estado del compromiso
    -parameter creationDate: fecha de crecion del compromiso
    -parameter compromise.descriptionn: Descripcion del compromiso
    -button terminar: termina el compromiso
    -button eliminar: elimina el compromiso 

    return: retorna el compromiso-->
<div class="target-compromise">
    <mat-card class="compromises">
        
          <mat-card-title>{{compromiseStatus}}
            <i class="pi pi-bookmark" style="font-size: 2rem"></i>
          </mat-card-title>
          <mat-card-subtitle>Fecha de creacion: {{compromise.creationDate}}</mat-card-subtitle>
        
        <mat-card-content>
          <div [innerHtml]="compromise.description"></div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="chooseCompromiseStatus()">Terminar</button>
          <button mat-button>Eliminar</button>
        </mat-card-actions>
      </mat-card>
    </div>