<div class="target-compromise">
    <mat-card class="compromises">
        <mat-card-header>
          <mat-card-title>{{compromiseStatus}}</mat-card-title>
          <i class="pi pi-bookmark" style="font-size: 2rem"></i>
          <mat-card-subtitle>Fecha de creacion: {{compromise.creationDate}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div [innerHtml]="compromise.description"></div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="chooseCompromiseStatus()">Terminar</button>
          <button mat-button>Eliminar</button>
        </mat-card-actions>
      </mat-card>
    </div>