.general{
    height: 500px;
    
}
.Cabecera{
    width: 865px;
    position: relative; left: 260px;
    background: rgb(0,236,255);
    background: linear-gradient(90deg, rgba(0,236,255,1) 0%, rgba(4,4,133,1) 49%, rgba(0,212,255,1) 100%);
    padding: 2% 10%;
    text-align: center;
  }
h1{
    font-size: 60px;
    font-family: fantasy;
    color:#D0D3D4;
}
.task-info{
    padding: 10px;
    border: #3D60B6 3px solid;
    width: 450px;
    position: relative; left: 260px;
    height: 700px;
}

.save-task{
    text-align: center;
    position: relative; top: 90px;
}

.task-list{
    padding: 10px;
    border: #3D60B6 3px solid;
    width: 418px;
    position: relative; left: 434px;
    bottom: 591px;
    height:700px;

}
.titulo-list{
    background: rgb(0,236,255);
    background: linear-gradient(90deg, rgba(0,236,255,1) 0%, rgba(4,4,133,1) 49%, rgba(0,212,255,1) 100%);
    text-align: center;
    
}
h2{
    font-size: 30px;
    font-family: fantasy;
    color:#D0D3D4;
}

.input-asunto-tarea{
    position: relative; 
    top: 20px;
}

.input-id-proyecto{
    position: relative; 
    top: 50px;

}
.create-date{
    position: relative; 
    top: 70px;
}

.limit-date{
    position: relative; 
    top: 90px;
}

.description{
    position: relative;  
    top: 90px;
    
}