<app-main-menu>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="cabecera">
        <h1>INICIA SESION</h1>
    </div>

    <div class="contenido">

        <h2>Iniciar sesion</h2>
        <br>
        <div class="Usuario">
            <mat-form-field class="example-full-width">
              <mat-label>Ingresa tu usuario</mat-label>
              <input matInput [(ngModel)]="username">
            </mat-form-field>
        </div>
    
        <div class="example-container">
            <mat-form-field appearance="fill">
            <mat-label>Ingresa tu contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary" (click)="loguear()" [routerLink]="link" [style]="{'margin':'1%'}">Iniciar sesión</button>
        
        <br>
        <button mat-raised-button color="primary" [routerLink]="['/home']" [style]="{'margin':'1%'}">Atrás</button>
        <br>
    </div>

</app-main-menu>