<app-student-menu>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="general">
    <!--<app-menu></app-menu>-->
    <div class="Cabecera">
        <h1 class="center">{{ title }}</h1>
    </div>

    <div class="task-info">

        
    
        <div class="input-id-proyecto">
            <p-listbox [options]="proyects" [(ngModel)]="selectedProyect" optionLabel="title" [style]="{'width':'15rem'}"></p-listbox>
        </div>

        <div class="create-date">
            <label for="icon">Fecha de creacion: </label>
            <br>
            <p-calendar [(ngModel)]="newTask.creationDate" [showIcon]="true" inputId="icon"></p-calendar>
        </div>
        
        <div class="limit-date">
            <label for="icon">Fecha limite: </label>
            <br>
            <p-calendar [(ngModel)]="newTask.limitDate" [showIcon]="true" inputId="icon"></p-calendar>
        </div>
        <br>

        <div class="description">
            <label for="description">Describe tu tarea: </label>
            <p-editor [style]="{'height':'200px'}" [(ngModel)]="newTask.description"></p-editor>
        </div>
        <br>

        <div class="save-task">
            <button  (click)="taskCreation()"  [routerLink]="['/perfilEstudiante']" mat-raised-button color="primary">Crear tarea </button>
            <button mat-raised-button color="primary" [routerLink]="['/perfilEstudiante']" [style]="{'margin':'10px'}">Atras</button>
        </div>

    </div>
</div>
</app-student-menu>

