<div class="general">
    <div class="Cabecera">
        <h1 class="center">{{ title }}</h1>
    </div>

    <div class="input-nombre-registro">
        <span class="p-float-label">
            <input id="float-input" type="text" pInputText [(ngModel)]="nombre">
            <label for="float-input">Ingresa tu nombre</label>
        </span>
    </div>

    <div class="input-codigo-registro">
        <span class="p-float-label">
            <input id="float-input" type="number" pInputText [(ngModel)]="codigo">
            <label for="float-input">Ingresa tu codigo</label>
        </span>
    </div>

    <div class="input-correo-registro">
        <span class="p-float-label">
            <input id="float-input" type="text" pInputText [(ngModel)]="correo">
            <label for="float-input">Ingresa tu correo</label>
        </span>
    </div>

    <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Ingresa tu contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
    </div>

    <div class="rolBox">
    <label id="example-radio-group-label">Elige tu rol</label>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="rolUsuario">
    <mat-radio-button class="example-radio-button" *ngFor="let rol of roles" [value]="rol" [color]="color">
    {{rol}}
    </mat-radio-button>
    </mat-radio-group>
    </div>

    <div class="rolChoose">El rol escogido es: {{rolUsuario}}</div>
    <br>
    <div class="register-button">
    <button mat-raised-button color="primary" (click)="crearUsuario()">Regístrate</button>
    </div>
</div>


