.general{
height: 500px;

}
header{
  width: 600px;
  position: relative; left: 260px;
  background: rgb(0,236,255);
  background: linear-gradient(90deg, rgba(0,236,255,1) 0%, rgba(4,4,133,1) 49%, rgba(0,212,255,1) 100%);
  padding: 2% 10%;
  text-align: center;
}
h1{
  font-size: 60px;
  font-family: fantasy;
  color:#D0D3D4;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}



.register{
  margin-left: 600px;
}

.register-button{
  margin-left: 80px;
}