<div class="general">
    <div class="Cabecera">
        <h1 class="center">{{ title }}</h1>
    </div>

    <div class="compromise-info">

        

        <label for="labelCompromise-id">Compromiso id: </label>
        <label for="labelCompromise-id">001</label>

        <div class="inputAsunto">
        <span class="p-float-label">
            <input id="float-input" type="text" pInputText [(ngModel)]="asuntoCompromiso"> 
            <label for="float-input">Asunto del compromiso</label>
        </span>
        </div>

        <div class="inputProyecto">
        <span class="p-float-label">
            <input id="float-input" type="text" pInputText [(ngModel)]="idProyect"> 
            <label for="float-input">Proyecto ID</label>  
        </span>
        </div>

        <p class="labelTutor">
            <label for="tutorLabel">Tutor: </label>
            <label for="tutor"> {{tutor}}</label>
        </p>

        <div class="create-date">
            <label for="icon">Fecha de creacion: </label>
            <p-calendar [(ngModel)]="dateCreate" [showIcon]="true" inputId="icon"></p-calendar>
        </div>
        <br>

        <div class="description">
            <label>Describe tu compromiso: </label>
            <p-editor [(ngModel)]="description" [style]="{'height':'200px'}"></p-editor >
        </div>
        <br>

        <div class="save-compromise">
            <button mat-raised-button color="primary" (click)="crearCompromiso()">Crear compromiso </button>
        </div>

    </div>

    <div class="compromise-list">
        <div class="titulo-list">
            <h2>Compromisos creados</h2>
        </div>
        <label for="compromiso1">Compromiso 26/08.pdf</label>

    </div>
</div>
