<div class="general">
    <div class="Cabecera">
        <h1 class="center">{{ title }}</h1>
    </div>
    <br>  
   
    
    <div class="registerProyect">

        <div class="input-titulo-proyecto">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText [(ngModel)]="titleProyect">
                <label for="float-input">Titulo del proyecto</label>
            </span>
        </div>

    <h2>Objetivos:</h2>
    <div class="editor">
    <p-editor [(ngModel)]="objects" [style]="{'height':'200px'}"></p-editor>
    </div>

    <div>
    <h2>Marco teórico:</h2>
    <div class="editor">
    <p-editor [(ngModel)]="teorico" [style]="{'height':'200px'}"></p-editor>
    </div>
    
    
    
    
    <h2>Marco metodológico:</h2>
    <div class="editor">
    <p-editor [(ngModel)]="metodologico" [style]="{'height':'200px'}"></p-editor>
    </div>

    

    <div>
    <h2>Referencias:</h2>
    <div class="editor">
    <p-editor [(ngModel)]="references" [style]="{'height':'200px'}"></p-editor>
    </div>
    
    <button mat-raised-button (click)="registrar()" color="primary">Registrar</button>
    

    
    </div>
    
    