*{
    box-sizing: border-box;
  }

.Cabecera{
    width: 100%;
    background: rgb(0,236,255);
    background: linear-gradient(90deg, rgba(0,236,255,1) 0%, rgba(4,4,133,1) 49%, rgba(0,212,255,1) 100%);
    padding: 2% 10%;
    text-align: center;
  }
  
  h1{
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color:#D0D3D4;
  }

  .profile{
      border: #3D60B6 2px solid;
      width: 50%;
      float: left;
      font-size: 20px;
  }

  .procesos{
    border: #3D60B6 2px solid;
    width: 50%;
    float: right;
    font-size: 20px;
    
  }

  .update-picture{
      text-align: center;
  }

  p{
      padding: 10px;
  }

  .switch{
      padding: 10px;
  }

  .image{
      text-align: center;
  }

  .update-button{
      padding: 10px;
  }
  
  .new-proyect-button{
      padding: 10px;
      position: relative; left: 240px; bottom: 56px;
  }

  .compromise-button{
      padding: 10px;
      position: relative; bottom: 50px;
  }

  .tasks-button{
    padding: 10px;
    position: relative; left: 240px; bottom: 106px;
  }

  .buttons{
    position: relative; top: 70px;
  }

  @media only screen and (max-width: 820px){
    .profile{
        width: 100%;
    }
    .procesos{
      width: 100%;
    }
  }

  @media only screen and (max-width: 410px){
    .new-proyect-button{
        padding: 10px;
        position: relative; bottom: 100px;
        left: auto;
        text-align: center;
    }

    .update-button{
        padding: 10px;
        position: relative; bottom: 100px;
        left: auto;
        text-align: center;

    }

    .compromise-button{
        padding: 10px;
        position: relative; bottom: 100px;
        left: auto;
        text-align: center;
    }
  
    .tasks-button{
        padding: 10px;
        position: relative; bottom: 100px;
        left: auto;
        text-align: center;
    }
}
  