.general{
    height: 500px;
}

header{
    width: 600px;
    position: relative; left: 260px;
    background: rgb(0,236,255);
    background: linear-gradient(90deg, rgba(0,236,255,1) 0%, rgba(4,4,133,1) 49%, rgba(0,212,255,1) 100%);
    padding: 2% 10%;
    text-align: center;
  }
  
  h1{
    font-size: 60px;
    font-family: fantasy;
    color:#D0D3D4;
  }

  .profile{
      border-style: solid;
      width: 450px;
      position: relative; left: 260px;
      font-size: 20px;
      height: 403px;
  }

  .procesos{
    border-style: solid;
    width: 411px;
    position: relative; left: 715px;
    bottom: 409px;
    font-size: 20px;
    height: 403px;

  }

  .update-picture{
      position: relative; left: 280px;
      bottom: 150px;

  }
  p{
      padding: 10px;
  }

  .switch{
      padding: 10px;
  }

  .image{
      text-align: center;
  }

  .update-button{
      padding: 10px;
  }
  
  .new-proyect-button{
      padding: 10px;
      position: relative; left: 240px; bottom: 56px;
  }

  .compromise-button{
      padding: 10px;
      position: relative; bottom: 50px;
  }

  .tasks-button{
      padding: 10px;
      position: relative; left: 240px; bottom: 106px;
  }

  .buttons{
      position: relative; top: 100px;
  }

  