<app-main-menu>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="cabecera">
        <h1>POLI DEGREE</h1>
    </div>

    <div class="contenido">
        <h2>Bienvenidos</h2>
        Poli Degree es una aplicación web desarrollada especialmente para los proyectos de grado de los estudiantes del Politecnico Grancolombiano 
        enfocada a los que desean escoger esta opción para graduarse. La función principal de esta aplicación web es de llevar un seguimiento y proceso
         del proyecto del estudiante registrado en la aplicación, además de que el estudiante gestionara su proyecto los docentes y evaluadores se 
         encargaran de asignar las tareas, calificaciones y observaciones que tendrá cada proyecto. 
    </div>


    <div class="objetivos">
        <h2>Nuestros objetivos</h2>
        Desarrollar una aplicación web capaz de gestionar y organizar proyectos de grado para los estudiantes de últimos semestres 
        del Politecnico Grancolombiano, agilizando el proceso de observaciones, asignación de tareas y calificaciones que tienen que 
        realizar los docentes y evaluadores de proyectos.
        <ul>
            <li>Crear y alojar proyectos de grado de estudiantes para su continuo desarrollo.</li>
            <li>Optimizar el proceso de inscripciones a proyectos de grado.</li>
            <li>Mejorar la experiencia a la hora de llevar a cabo un proyecto de grado.</li>
            <li>Implementar una buena interfaz y experiencia de usuario que sea cómoda y fácil de usar.</li>
            <li>Mejorar el sistema de tareas y compromisos por cumplir para mejorar proyectos.</li>
            <li>Poder visualizar calificaciones y comentarios de docentes y evaluadores.</li>
        </ul>
    </div>

    <div class="galeria">
        HOLIWI
    </div>

    <div class="Menu">
        <label>¿Te suena la idea?</label>
        <br>
        <button mat-raised-button color="primary" [routerLink]="['/registrarUsuario']" [style]="{'margin':'1%'}">¡Regístrate aquí!</button>
        <br>
        <label>¿Ya tienes tu proyecto registrado?</label>
        <br>
        <button mat-raised-button color="primary" [routerLink]="['/login']" [style]="{'margin':'1%'}">¡Inicia sesión!</button>

    </div>
    <div class="banner">
        <div>
            Valentina Calderon
        </div>
        <div>
            Jhon Jairo Ballen 
        </div>
        <div>
            Sebastian Barragan 
        </div>
    </div>
</app-main-menu>

