.Menu {
    padding-left: 40%;
    padding-top: 5%;
    margin: 10px;
}
 h1 {
     font-size: xx-large;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     text-align: center;
 }

 
