
<h1>Bienvenido a Poli Degree</h1>
<div class="Menu">
<button mat-raised-button color="primary" [routerLink]="['/verPerfil']" [style]="{'margin':'10px', 'width': '30%'}">Perfil</button>
<br>
<button mat-raised-button color="primary" [routerLink]="['/registrarUsuario']" [style]="{'margin':'10px', 'width': '30%'}">Registrarse</button>
<br>
<button mat-raised-button color="primary" [routerLink]="['/registrarProyecto']" [style]="{'margin':'10px', 'width': '30%'}">Nuevo Proyecto</button>
<br>
<button mat-raised-button color="primary" [routerLink]="['/crearTarea']" [style]="{'margin':'10px', 'width': '30%'}">+ Tarea</button>
<br>
<button mat-raised-button color="primary" [routerLink]="['/crearCompromiso']" [style]="{'margin':'10px', 'width': '30%'}">+ Compromiso</button>
</div>