*{
    box-sizing: border-box;
  }

.Cabecera{
    width: 100%;
    background: rgb(0,236,255);
    background: linear-gradient(90deg, rgba(0,236,255,1) 0%, rgba(4,4,133,1) 49%, rgba(0,212,255,1) 100%);
    padding: 2% 10%;
    text-align: center;
}

h1{
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color:#D0D3D4;
}

.ListBox {
    width: 100%;
    padding: 2% 40%;
    text-align: center;
}

.opciones{
    text-align: center;
}

@media only screen and (max-width: 500px){
    .ListBox {
        width: 100%;
        text-align: center;
        border: blue 2px solid;
    }
}