<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="cabecera">
        <h1>Bienvenido a Poli Degree</h1>
    </div>

    <div class="contenido">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Iure natus voluptates doloremque ab expedita eos facere at cumque sint maiores dolores, dicta praesentium ipsum beatae earum exercitationem! 
        Odit, incidunt non?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Iure natus voluptates doloremque ab expedita eos facere at cumque sint maiores dolores, dicta praesentium ipsum beatae earum exercitationem! 
        Odit, incidunt non?
    </div>

    <div class="galeria">
        posible galeria, video, multimedia
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Iure natus voluptates doloremque ab expedita eos facere at cumque sint maiores dolores, dicta praesentium ipsum beatae earum exercitationem! 
        Odit, incidunt non?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Iure natus voluptates doloremque ab expedita eos facere at cumque sint maiores dolores, dicta praesentium ipsum beatae earum exercitationem! 
        Odit, incidunt non?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Iure natus voluptates doloremque ab expedita eos facere at cumque sint maiores dolores, dicta praesentium ipsum beatae earum exercitationem! 
        Odit, incidunt non?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Iure natus voluptates doloremque ab expedita eos facere at cumque sint maiores dolores, dicta praesentium ipsum beatae earum exercitationem! 
        Odit, incidunt non?
    </div>

    <div class="Menu">
        <label>¿Te suena la idea?</label>
        <br>
        <!--<button mat-raised-button color="primary" [routerLink]="['/verPerfil']" [style]="{'margin':'1%'}">Perfil</button>
        <br>-->
        <button mat-raised-button color="primary" [routerLink]="['/registrarUsuario']" [style]="{'margin':'1%'}">¡Regístrate aquí!</button>
        <br>
        <label for>¿Ya tienes tu proyecto registrado?</label>
        <br>
        <button mat-raised-button color="primary" [style]="{'margin':'1%'}">¡Inicia sesión!</button>
        <!--<button mat-raised-button color="primary" [routerLink]="['/registrarProyecto']" [style]="{'margin':'1%'}">Nuevo Proyecto</button>
        <br>
        <button mat-raised-button color="primary" [routerLink]="['/crearTarea']" [style]="{'margin':'1%'}">+ Tarea</button>
        <br>
        <button mat-raised-button color="primary" [routerLink]="['/crearCompromiso']" [style]="{'margin':'1%'}">+ Compromiso</button>-->

    </div>

    <div class="banner">
        Banner.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Iure natus voluptates doloremque ab expedita eos facere at cumque sint maiores dolores, dicta praesentium ipsum beatae earum exercitationem! 
        Odit, incidunt non?
    </div>
